<div class="container mt-5">

  <h2 class="mb-4">Edit Post</h2>

  <form class="edit-post-form">

    <div class="form-group">

      <label for="edit-title">New Title:</label>

      <input 
      type="text" 
      class="form-control" 
      id="edit-title" 
      name="edit-title" 
      placeholder="Enter a New Post Title">

    </div>

    <div class="form-group">

      <label for="edit-content">Post Content:</label>

      <textarea 
      class="form-control" 
      id="edit-content" 
      name="edit-content" 
      rows="4">
      </textarea>

    </div>

    <div class="form-group">

      <button 
      type="submit" 
      class="btn btn-primary"
      id="update-post-btn" 
      >
        Commit Change
      </button>

    </div>

    

  </form>

</div>

<script src="/js/edit-post.js"></script>