<div class=" display-flex flex-column justify-content-center align-items-center">

    <h2>
      Signup
    </h2>

    <p id="why-signup">
      Sign up now and stay up to date with a thriving community of brilliant developers. We look forward to seeing you shape the conversation on the future of technology. 
    </p>

    <form class="form signup-form">

      <div class="form-group">

        <label for="username-signup">
          {{!-- username: --}}
        </label>

        <input 
        class="form-input" 
        type="text" 
        id="username-signup" 
        placeholder="Input a New Username"
        />

      </div>

      <div class="form-group">

        <label for="password-signup">
          {{!-- password: --}}
        </label>

        <input 
        class="form-input" 
        type="password" 
        id="password-signup" 
        placeholder="Input a New 8 Character Password"
        />

      </div>

      <div id="signup-btn-container" class="form-group btn-container">

        <button 
        class="btn btn-primary" 
        type="submit"
        id="signup-btn"
        >
        Get Started!
        </button>

      </div>

    </form>

  </div>

</div>

<script src="./js/signup.js"></script>